
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: white;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover

}
/* vh means viewpoint height */
.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh; 
    background: rgb(0, 0, 0, 0, 5);
}
.detail{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* @keyframes rule specifies the animation code 0% is the beginning of the animation 
100% is when the animation is complete*/
/* for best browser support use 0% and 100% */
@keyframes animate{
    0%, 100%{
        background-image: url(../Images/delicious-fried-chicken-plate_144627-27383.avif);
        
    }
    0%, 35%{
        background-image: url(../Images/assortment-pieces-cake_114579-28235.avif);
    }
    0%, 50%{
        background-image: url(../Images/honey\ garlic\ chicken.avif);
    }
    0%, 75%{
        background-image: url(../Images/baked-quails-pan-dark-surface_2829-5596.avif);
    }
    0%, 65%{
        background-image: url(../Images/side-view-fried-meat-with-french-fries-ketchup_141793-4908.avif);
    }
    0%, 40%{
        background-image: url(../Images/watermelon-smoothies_1203-9166.avif);


    }
    0%, 55%{
        background-image: url(../Images/mango\ juice.avif);
    }
    0%, 30%{
        background-image: url(../Images/top-view-vegetable-soup-with-meat-inside-plate-grey_140725-36040.avif);
    }
    
    
    
}

/* .mark{
    position: absolute;
    bottom: 0%;
    left: 100px;
    z-index: 1000; 
    font-size:100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transform:rotate(-30deg);
    opacity: 0.6;
    text-align: center;
    font-style: italic;
    font-weight: 600;}
   */



.tab-container{
    width:100%;
    height:350px;
}
button{
    color: white;
}


.tab-container .button-container{
    height: 15%;
    color: white;
}
.tab-container .button-container button{
    width: 25%;
    height: 100%;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgba(59, 40, 3, 0.96);
}

.tab-container .button-container button:hover{
    background-color: #d7d7d7;
}
.tab-container .menu_tab{
    height: 85%;
    background-color:grey ;
    color: white;
    text-align: center;
    padding-top: 10.5px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;

}
